In [235]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [216]:
data_S_1 = pd.read_csv("../data/target/static_annotations_S.csv")

data_S = data_S_1.copy()

data_S = data_S.drop('std_arousal', 1).drop('std_valence', 1)
data_S['song_id'] = data_S['song_id'].apply(lambda x: str(x) + "S")
tmp = data_S['mean_arousal'].copy()
data_S['mean_arousal'] = data_S['mean_valence'].copy()
data_S['mean_valence'] = tmp.copy()

data_S = data_S.rename(columns={'mean_arousal':u'valence_mean', 'mean_valence':u'arousal_mean'})

In [217]:
data_S.head()

  song_id  valence_mean  arousal_mean
0      2S           3.0           3.1
1      3S           3.3           3.5
2      4S           5.5           5.7
3      5S           5.3           4.4
4      7S           6.4           5.8

In [218]:
data_S_1.head()

   song_id  mean_arousal  std_arousal  mean_valence  std_valence
0        2           3.1      0.99443           3.0      0.66667
1        3           3.5      1.84090           3.3      1.70290
2        4           5.7      1.49440           5.5      1.71590
3        5           4.4      2.11870           5.3      1.94650
4        7           5.8      1.54920           6.4      1.77640

In [219]:
data_D_1 = pd.read_csv("../data/target/static_annotations_averaged_songs_1_2000D.csv")
data_D_2 = pd.read_csv("../data/target/static_annotations_averaged_songs_2000_2058D.csv")
data_D_2 = data_D_2.drop(data_D_2.columns[[2, 3, 4, 5, 6, 8, 9, 10, 11, 12]], 1)
data_D_1 = data_D_1.drop(data_D_1.columns[[2, 4]], 1)
data_D = pd.concat([data_D_1, data_D_2], ignore_index=True)
data_D['song_id'] = data_D['song_id'].apply(lambda x: str(x) + "D")
data_D = data_D.rename(columns={' arousal_mean':'arousal_mean', ' valence_mean':u'valence_mean'})

In [220]:
list(data_D)

['song_id', u'valence_mean', 'arousal_mean']

In [221]:
data_D_1.head()

   song_id   valence_mean   arousal_mean
0        2            3.1            3.0
1        3            3.5            3.3
2        4            5.7            5.5
3        5            4.4            5.3
4        7            5.8            6.4

In [222]:
data_D_2.head()

   song_id   valence_mean   arousal_mean
0     2001            3.2            6.6
1     2002            6.4            5.2
2     2003            5.4            4.6
3     2004            5.0            4.8
4     2005            3.8            5.2

In [223]:
data_D.head()

  song_id  valence_mean  arousal_mean
0      2D           3.1           3.0
1      3D           3.5           3.3
2      4D           5.7           5.5
3      5D           4.4           5.3
4      7D           5.8           6.4

In [224]:
print len(data_D), len(data_D_1), len(data_D_2), len(result_data)

1802 1744 58 744

In [225]:
data_D.head()

  song_id  valence_mean  arousal_mean
0      2D           3.1           3.0
1      3D           3.5           3.3
2      4D           5.7           5.5
3      5D           4.4           5.3
4      7D           5.8           6.4

In [185]:
data_S.head()

  song_id  valence_mean  arousal_mean
0      2S           3.0           3.1
1      3S           3.3           3.5
2      4S           5.5           5.7
3      5S           5.3           4.4
4      7S           6.4           5.8

In [226]:
result = pd.concat([data_D, data_S], ignore_index=True)

In [229]:
print len(result)

2546

In [230]:
result

     song_id  valence_mean  arousal_mean
0         2D        3.1000        3.0000
1         3D        3.5000        3.3000
2         4D        5.7000        5.5000
3         5D        4.4000        5.3000
4         7D        5.8000        6.4000
5         8D        3.2000        4.8000
6        10D        4.0000        4.7000
7        12D        5.5000        5.8000
8        13D        3.2000        4.0000
9        17D        4.4000        6.0000
10       18D        4.8000        3.9000
11       19D        5.9000        4.3000
12       20D        5.4000        6.5000
13       21D        6.6000        6.3000
14       22D        4.0000        4.8000
15       24D        5.3000        3.9000
16       25D        7.9000        4.7000
17       31D        4.7000        3.8000
18       32D        4.2000        3.3000
19       35D        4.8000        6.5000
20       37D        6.6000        5.3000
21       39D        7.3000        5.4000
22       40D        4.6000        4.8000
23       41D        4.3000        5.1000
24       42D        6.1000        5.1000
25       43D        6.7000        3.5000
26       44D        3.9000        4.9000
27       45D        5.1000        2.1000
28       46D        5.3000        4.0000
29       47D        4.4000        4.4000
...      ...           ...           ...
2516    960S        7.7000        7.7000
2517    961S        5.5000        5.6000
2518    962S        3.4000        7.4000
2519    964S        7.0000        7.6000
2520    967S        4.4000        2.8000
2521    968S        3.2000        3.8000
2522    970S        6.6000        6.6000
2523    973S        4.6000        6.5000
2524    974S        4.2000        4.1000
2525    976S        5.9000        6.2000
2526    977S        3.5000        7.3000
2527    978S        6.1000        7.7000
2528    979S        5.5000        3.1000
2529    980S        4.3000        5.8000
2530    981S        6.6000        6.7000
2531    983S        6.3000        4.8000
2532    985S        6.1000        3.9000
2533    986S        4.5000        5.8000
2534    987S        3.6000        6.3000
2535    988S        5.9000        5.4000
2536    989S        6.4000        6.3000
2537    990S        6.1000        6.0000
2538    991S        3.5000        3.1000
2539    993S        3.8000        4.4000
2540    994S        5.3000        6.6000
2541    995S        2.4000        4.7000
2542    996S        6.7000        6.0000
2543    997S        6.7000        6.4000
2544    999S        5.9000        4.1000
2545   1000S        5.8889        7.2222

[2546 rows x 3 columns]

In [231]:
data_D.to_csv("../data/target/D.csv")

In [232]:
data_S.to_csv("../data/target/S.csv")

In [233]:
result.to_csv("../data/target/audio_target.csv")